body {
  font-family: Arial, sans-serif;
  background-color: #ECE6FF;
  margin:  20px;
  max-height: 100vh;
  row-gap: 10;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
  border-bottom:  1px solid #ccc;
  padding-bottom:  5px;
}

table {
  /* width: calc((100% -  40px) /  2);*/
  flex-basis: calc(50% -  10px);
  margin-right:  10px;
  float: left;
  margin-right:  20px; 
  border-collapse: collapse;
  margin-bottom:  50px;
}

table td {
  padding:  8px;
  border:  1px solid #ccc;
}