<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr>
    <h2>Requerimiento. Documentación de chat</h2>
    <hr>

    <h3>Crear chat</h3>
    <table>
        <td>NUMERO</td>
        <td>1</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Crear chat</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/chats</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite crear un chat en la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>{"mensaje_chat": "Holaaaaa!", "fk_id_subasta" : 1, "fk_id_usuario":1084251889}</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: "Mensaje creado con éxito."}
          Incorrecto: JSON:{status: 404, message: "Error al crear el mensaje."}
          Error: JSON:{status: 500, message: "Error en el sistema."}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>

    <h3>Listar chats</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>2</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Listar todos los chats</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/chats</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite Listar todos los chats de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR Y USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: "Mensajes encontrados con
          exito.", data: rows } Incorrecto: JSON:{status: 404, message: "No se
          encontraron mensajes." } Error: JSON:{status: 500, message: "Error en
          el sistema."}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>

    <h3>actualizar chat</h3>
    <table>
        <td>NUMERO</td>
        <td>3</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>actualizar chat</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/chats/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite actualizar los chats de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>{ "mensaje_chat": "Si si si?" }</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: "El mensaje ha sido actualizado
          con éxito." } Incorrecto: JSON:{status: 404, message: "No se encontró
          el mensaje con el ID especificado."} Error: JSON:{status: 500,
          message: "Error en el sistema."}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>

    <h3>Buscar chat</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>4</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Listar un chat</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/chats/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite Listar un chats en especifico de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR Y USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto JSON:{status: 200, message:"Mensaje encontrado con exito",
          data:rows} Incorrecto: JSON:{status: 404, message: "Error con ID al
          encontrar el mensaje." } Error: JSON:{status: 500, message: "Error en
          el sistema."}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>

    <h3>Eliminar chat</h3>
    <table>
        <td>NUMERO</td>
        <td>5</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Eliminar chat</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/chats/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite eliminar los chats de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: "Chat eliminado con éxito."}
          Incorrecto: JSON:{status: 404, message: "No se encontró el mensaje con
          el ID especificado."} Error: JSON:{status: 500, message: "Error en el
          sistema."}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
  </body>
</html>