<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h2>Requerimiento. Documentacion de departamento</h2>
    <hr>
    <h3>Crear departamento</h3>
    <table>
        <tr><td>Numero 1</td><td>1</td></tr>
        <tr><td>Nombre del Servicio </td><td>Crear departamento </td></tr>
        <tr><td>URI</td><td>/v1/departamentos</tr>
        <tr><td>Descripcion:</td><td>Permite registrar departamentos en la base de datos</td></tr>
        <tr><td>Verbo HTTP:</td><td>POST</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> 
            {
                "pk_codigo_depar": "123",
                "nombre_depart": "Prueba123"
            }
    </td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
              message:"Departamento creado exitosamente"
            }
            Incorrecto:
            Status:404
            body:{
                message:"Error al encontrar la departamento"
            }
            Error:
            Status:500
            body:{
              message:"Error en el sistema : "+ error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>

    <hr>
    <h3>Listar departamentos</h3>
    <table>
        <tr><td>Numero </td><td>2</td></tr>
        <tr><td>Nombre del Servicio </td><td>Listar departamentos </td></tr>
        <tr><td>URI</td><td>/v1/departamentos</tr>
        <tr><td>Descripcion:</td><td>Permite listar todas las departamentos registradas</td></tr>
        <tr><td>Verbo HTTP:</td><td>GET</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            {
                "message": "Las departamentos encontradas con exito",
                "data": [
                {
                    "pk_codigo_depar": 5,
                    "nombre_depart": "Antioquia",
                    "estado_depar": "activo"
                },
                {
                    "pk_codigo_depar": 8,
                    "nombre_depart": "Atl치ntico",
                    "estado_depar": "activo"
                },
                {
                    "pk_codigo_depar": 11,
                    "nombre_depart": "Bogot치, D.C. (Distrito Capital)",
                    "estado_depar": "activo"
                },
                }
        ]
            Incorrecto:
            Status:404
            body:{
                message:" 'No se encontraron departamentos"
            }
            Error:
            Status:500
            body:{
              message:"Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>
   
    <hr>
    <h3>Actualizar departamento</h3>
    <table>
        <tr><td>Numero </td><td>3</td></tr>
        <tr><td>Nombre del Servicio </td><td>Actualizar departamento </td></tr>
        <tr><td>URI</td><td>/v1/departamento/:id</tr>
        <tr><td>Descripcion:</td><td>Permite actualizar departamentos en la base de datos por medio de su id       </td></tr>
        <tr><td>Verbo HTTP:</td><td>PUT</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> 
            {
                "pk_codigo_depar": "122",
                "nombre_depart": "Prueba122"
            }
    </td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                
                message: 'departamento actualizado con exito'
                
            }
            Incorrecto:
            Status:404
            body:{
                message: 'No se pudo actualizar la departamento con el IDs'
            }
            Error:
            Status:500
            body:{
                message:  "Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>
   
    <hr>
    <h3>Buscar departamento</h3>
    <table>
        <tr><td>Numero </td><td>4</td></tr>
        <tr><td>Nombre del Servicio </td><td>Buscar departamentos registradas </td></tr>
        <tr><td>URI</td><td>/v1/departamento/:id</tr>
        <tr><td>Descripcion:</td><td>Permite buscar departamentos en la base de datos por medio de su ID</td></tr>
        <tr><td>Verbo HTTP:</td><td>GET</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                "pk_codigo_depar": 81,
                "nombre_depart": "Arauca",
                "estado_depar": "activo"
            }
            Incorrecto:
            Status:404
            body:{
                message: 'id de departamento no encontrado'
            }
            Error:
            Status:500
            body:{
                message: "Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>

    <hr>
    <h3>Eliminar departamento</h3>
    <table>
        <tr><td>Numero </td><td>5</td></tr>
        <tr><td>Nombre del Servicio </td><td>Eliminar departamento</td></tr>
        <tr><td>URI</td><td>/v1/departamento/:id</tr>
        <tr><td>Descripcion:</td><td>Permite eliminar departamento en la base de datos por medio de su id</td></tr>
        <tr><td>Verbo HTTP:</td><td>DELETE</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR, USUARIO</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                "message": "departamento eliminado con exito"    
            }
            Incorrecto:
            Status:404
            body:{
                message: '"Error con el ID al eliminar la departamento'
            }
            Error:
            Status:500
            body:{
                message: "Error en el sitema", error
            }
           <tr>
                 <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
            </tr>
            <tr>
                <td>Rama:</td><td>DEVjcrc</td>
            </tr>
            
        </td></tr>
    </table>
    
    <h3>DESACTIVAR departamento</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>6</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>DESACTIVAR departamento</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/v1/departamento/:id</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite desactivar departamento</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>PUT</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                
                CORRECTO: 
                STATUS:200 
                MESSAGE: 'departamento desactivado exitosamente' 

                INCORRECTO 
                STATUS: 404 
                BODY :{
                    STATUS: 404
                    MESSAGE: 'No se encontr칩 ninguna departamento con el ID ${id}"
                }

                ERROR: 
                STATUS: 500 
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "Error en el sistema"
                }
            </td>
        </tr>

        <tr>
            <td>DESARROLADOR</td>
            <td>Juan Camilo Realpe Ceron</td>
        </tr>

        <tr>
            <td>RAMA</td>
            <td>DEVjcrc</td>
        </tr>
    </table>


    <h3>ACTIVAR departamento</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>7</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>ACTIVAR departamento</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/v1/departamento/:id</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite activar departamento</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>PUT</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                
                CORRECTO: 
                STATUS:200 
                MESSAGE: 'departamento activado exitosamente' 

                INCORRECTO 
                STATUS: 404 
                BODY :{
                    STATUS: 404
                    MESSAGE: 'No se encontr칩 ninguna departamento con el ID ${id}'
                }

                ERROR: 
                STATUS: 500 
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "Error en el sistema"
                }
            </td>
        </tr>

        <tr>
            <td>DESARROLADOR</td>
            <td>Juan Camilo Realpe Ceron</td>
        </tr>

        <tr>
            <td>RAMA</td>
            <td>DEVjcrc</td>
        </tr>
    </table>

</body>
</html>