<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentación de departamento</h2>
    <hr />
    <h3>Crear departamentos</h3>
    <table>
      <tr>
        <td>Numero 1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite crear departamentos en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
<td>
<pre><code>{
  "pk_codigo_depar": "100",
  "nombre_depar": "nuevo departamento"
}</code></pre>
</td>
</tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Departamento creado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 400 (Código existente)
<pre>{
  "message": "El código del departamento ya existe"
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error al crear el departamento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar departamentos</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las departamentos registradas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>[
  {
    "pk_codigo_depar": 5,
    "nombre_depar": "Antioquia",
    "estado_depar": "activo"
  },
  {
    "pk_codigo_depar": 8,
    "nombre_depar": "Atlántico",
    "estado_depar": "activo"
  }
]</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No hay departamentos creados por el momento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
  </td>
</tr>      
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar departamentos</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite actualizar departamentos en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
<td>
<pre><code>{
  "pk_codigo_depar": "101",
  "nombre_depar": "nueva prueba1"
}</code></pre>
  </td>
</tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Departamento actualizado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 400 (Código existente)
<pre>{
  "message": "El código del departamento ya existe"
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error con el ID al actualizar el departamento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
  </td>
</tr>      
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar departamentos</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite buscar los departamentos creados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "pk_codigo_depar": 100,
  "nombre_depar": "nueva prubea1",
  "estado_depar": "activo"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error al encontrar el departamento con ese ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
</td>        
</tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar departamentos</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite eliminar los departamentos creados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Departamento eliminado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error con el ID al eliminar el departamento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
</td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Desactivar departamento</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentosdes/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCION</td>
        <td>Permite desactivar los departamentos creados en la base de datos</td>
      </tr>
      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "departamento desactivado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se encontró ningún departamento con el ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
</td>
      </tr>
      <tr>
        <td>DESARROLADOR</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>RAMA</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Activar departamento</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar departamentos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentosac/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCION</td>
        <td>Permite activar los departamentos creados en la base de datos</td>
      </tr>
      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "departamento activado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se encontró ningún departamento con el ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
</td>
      </tr>
      <tr>
        <td>DESARROLADOR</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>RAMA</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Buscar departamentos activos</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar departamentos activos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/departamentos_activos/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite buscar los departamentos activos creados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>[
  {
    "pk_codigo_depar": 5,
    "nombre_depar": "Antioquia",
    "estado_depar": "activo"
  },
  {
    "pk_codigo_depar": 8,
    "nombre_depar": "Atlántico",
    "estado_depar": "activo"
  }
]</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No hay departamentos activos creados por el momento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor: " + error
}</code></pre>
</td>        
</tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Valentina Diaz Lederma</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    
  </body>
</html>
