<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentación de finca</h2>
    <hr />
    <h3>Crear finca</h3>
    <table>
      <tr>
        <td>Numero 1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear finca</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/finca</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite registrar fincas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            { 
              "nombre_fin": "Napoles", 
              "imagen_fin": "file", 
              "descripcion_fin":  "A tan solo 5 minutos del casco urbano ", 
              "fk_id_usuario": 1084251889
              "fk_vereda": 6 
            }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message:"Finca creada con exito" } <br>
          Incorrecto: Status:404 body:{ message:"No se pudo crear la finca" } <br>
          Error: Status:500 body:{ message:"Error en el servidor :" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar fincas</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar fincas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/finca</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las fincas registradas</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: {
            "message": "Las fincas encontradas con exito",
            "data": [
                {
                    "pk_id_fin": 9,
                    "nombre_fin": "Casa blanca Diamonte",
                    "imagen_fin": "finca.jpg",
                    "descripcion_fin": "Hermosa finca de campo cafetera",
                    "estado_fin": "activo",
                    "fk_id_usuario": 1084252915,
                    "fk_vereda": 5,
                    "nombre_vere": "Campoalegre"
                }, } ] <br>
          Incorrecto: Status:404 body:{ message:'No se encontraron fincas' } <br>
          Error: Status:500 body:{ message:"Error en el servidor"+ error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar finca</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar finca</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/finca/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite actualizar fincas en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            { 
                "nombre_fin": "Napoles", 
                "imagen_fin": "file", 
                "descripcion_fin": "A tan solo 5 minutos del casco urbano ", 
                "fk_vereda": 5
              }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: 'Finca actualizada con exito' } <br>
          Incorrecto: Status:404 body:{ message: 'No se pudo actualizar la finca con el ID' } <br>
          Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar finca</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar fincas registradas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/finca/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite buscar fincas en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: {
            "message": "Finca encontrada",
            "data": [
                {
                    "pk_id_fin": 14,
                    "nombre_fin": "Casa blanca Diamont",
                    "imagen_fin": "finca.jpg",
                    "descripcion_fin": "Hermosa casa de campo con jardín, piscina y cafe",
                    "estado_fin": "activo",
                    "fk_id_usuario": 1084252915,
                    "fk_vereda": 6,
                    "nombre_vere": "Mortiño"
                }
            ]
        } <br>
          Incorrecto: Status:404 body:{ message: 'id de finca no encontrado'} <br>
          Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar finca</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar finca</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/finca/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite eliminar finca en la base de datos por medio de su id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { "message": "Finca eliminada con exito" } <br>
          Incorrecto: Status:404 body:{ message: '"Error con el ID al eliminar la finca' } <br>
          Error: Status:500 body:{ message: "Error en el servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
          </tr>
          <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
          </tr>
        </td>
      </tr>
    </table>

    <h3>DESACTIVAR finca</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>6</td>
      </tr>

      <tr>
        <td>Nombre del Servicio</td>
        <td>DESACTIVAR finca</td>
      </tr>

      <tr>
        <td>URI</td>
        <td>/v1/fincades/:id</td>
      </tr>

      <tr>
        <td>DESCRIPCION</td>
        <td>Permite desactivar finca</td>
      </tr>

      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>

      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>

      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>

      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>

      <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto: Status:200 json: { "message": "Finca desactivada exitosamente" } <br>
            Incorrecto: Status:404 body:{ message: 'No se encontró ninguna Finca con el ID ${id}' } <br>
            Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>

      <tr>
        <td>DESARROLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>

      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>ACTIVAR finca</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>7</td>
      </tr>

      <tr>
        <td>Nombre del Servicio</td>
        <td>ACTIVAR finca</td>
      </tr>

      <tr>
        <td>URI</td>
        <td>/v1/fincaac/:id</td>
      </tr>

      <tr>
        <td>DESCRIPCION</td>
        <td>Permite activar finca</td>
      </tr>

      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>

      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>

      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>

      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>

      <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto: Status:200 json: { "message": "Finca activada exitosamente" } <br>
            Incorrecto: Status:404 body:{ message: 'No se encontró ninguna Finca con el ID ${id}' } <br>
            Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>

      <tr>
        <td>DESARROLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>

      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
  </body>
</html>
