<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h2>Requerimiento. Documentacion de municipio</h2>
    <hr>
    <h3>Crear municipio</h3>
    <table>
        <tr><td>Numero 1</td><td>1</td></tr>
        <tr><td>Nombre del Servicio </td><td>Crear municipio </td></tr>
        <tr><td>URI</td><td>/v1/municipios</tr>
        <tr><td>Descripcion:</td><td>Permite registrar municipios en la base de datos</td></tr>
        <tr><td>Verbo HTTP:</td><td>POST</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> 
            {
                "pk_codigo_muni": "11111",
                "nombre_muni": "Prueba11111",
                "fk_departamento": "41"
            }
    </td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
              message:"municipio creado exitosamente"
            }
            Incorrecto:
            Status:404
            body:{
                message:"Error al crear el municipio"
            }
            Error:
            Status:500
            body:{
              message:"Error en el sistema : "+ error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>

    <hr>
    <h3>Listar municipios</h3>
    <table>
        <tr><td>Numero </td><td>2</td></tr>
        <tr><td>Nombre del Servicio </td><td>Listar municipios </td></tr>
        <tr><td>URI</td><td>/v1/municipios</tr>
        <tr><td>Descripcion:</td><td>Permite listar todas las municipios registradas</td></tr>
        <tr><td>Verbo HTTP:</td><td>GET</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            {
                "pk_codigo_muni": 41001,
                "nombre_muni": "Neiva",
                "estado_muni": "activo",
                "fk_departamento": 41
            },
            {
                "pk_codigo_muni": 41006,
                "nombre_muni": "Acevedo",
                "estado_muni": "activo",
                "fk_departamento": 41
            },
            {
                "pk_codigo_muni": 41013,
                "nombre_muni": "Aipe",
                "estado_muni": "activo",
                "fk_departamento": 41
            },
            Incorrecto:
            Status:404
            body:{
                message:" 'No se encontraron municipios"
            }
            Error:
            Status:500
            body:{
              message:"Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>
   
    <hr>
    <h3>Actualizar municipio</h3>
    <table>
        <tr><td>Numero </td><td>3</td></tr>
        <tr><td>Nombre del Servicio </td><td>Actualizar municipio </td></tr>
        <tr><td>URI</td><td>/v1/municipios/:id</tr>
        <tr><td>Descripcion:</td><td>Permite actualizar municipios en la base de datos por medio de su id       </td></tr>
        <tr><td>Verbo HTTP:</td><td>PUT</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> 
            {
                "pk_codigo_muni": "11112",
                "nombre_muni": "Prueba11112",
                "fk_departamento": "41"
            }
    </td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                message: 'municipio actualizado con exito'
            }
            Incorrecto:
            Status:404
            body:{
                message: 'No se pudo actualizar el municipio con el IDs'
            }
            Error:
            Status:500
            body:{
                message:  "Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>
   
    <hr>
    <h3>Buscar municipio</h3>
    <table>
        <tr><td>Numero </td><td>4</td></tr>
        <tr><td>Nombre del Servicio </td><td>Buscar municipios registradas </td></tr>
        <tr><td>URI</td><td>/v1/municipios/:id</tr>
        <tr><td>Descripcion:</td><td>Permite buscar municipios en la base de datos por medio de su ID</td></tr>
        <tr><td>Verbo HTTP:</td><td>GET</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                "pk_codigo_muni": 41885,
                "nombre_muni": "Yaguará",
                "estado_muni": "activo",
                "fk_departamento": 41
            }
            Incorrecto:
            Status:404
            body:{
                message: 'id de municipio no encontrado'
            }
            Error:
            Status:500
            body:{
                message: "Error en el sistema", error
            }
        </td></tr>
        <tr>
            <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
       </tr>
       <tr>
           <td>Rama:</td><td>DEVjcrc</td>
       </tr>
    </table>

    <hr>
    <h3>Eliminar municipio</h3>
    <table>
        <tr><td>Numero </td><td>5</td></tr>
        <tr><td>Nombre del Servicio </td><td>Eliminar municipio</td></tr>
        <tr><td>URI</td><td>/v1/municipios/:id</tr>
        <tr><td>Descripcion:</td><td>Permite eliminar municipio en la base de datos por medio de su id</td></tr>
        <tr><td>Verbo HTTP:</td><td>DELETE</td></tr>
        <tr><td>HEADER:</td><td>token: token</td></tr>
        <tr><td>Usuarios:</td><td>ADMINISTRADOR, USUARIO</td></tr>
        <tr><td>PETICION BODY</td><td> NULL</td></tr>
        <tr><td>RESPUESTA JSON</td><td>
            Correcto:
            Status:200
            JSON:
            {
                "message": "municipio eliminado con exito"    
            }
            Incorrecto:
            Status:404
            body:{
                message: '"Error con el ID al eliminar la municipio'
            }
            Error:
            Status:500
            body:{
                message: "Error en el sitema", error
            }
           <tr>
                 <td>Desarrollador:</td><td>Juan Camilo Realpe Ceron</td>
            </tr>
            <tr>
                <td>Rama:</td><td>DEVjcrc</td>
            </tr>
            
        </td></tr>
    </table>
    
    <h3>DESACTIVAR municipio</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>6</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>DESACTIVAR municipio</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/v1/municipios/:id</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite desactivar municipio</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>PUT</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                
                CORRECTO: 
                STATUS:200 
                MESSAGE: 'municipio desactivado exitosamente' 

                INCORRECTO 
                STATUS: 404 
                BODY :{
                    STATUS: 404
                    MESSAGE: 'No se encontró ningun municipio con el ID ${id}"
                }

                ERROR: 
                STATUS: 500 
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "Error en el sistema"
                }
            </td>
        </tr>

        <tr>
            <td>DESARROLADOR</td>
            <td>Juan Camilo Realpe Ceron</td>
        </tr>

        <tr>
            <td>RAMA</td>
            <td>DEVjcrc</td>
        </tr>
    </table>

    <h3>ACTIVAR municipio</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>7</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>ACTIVAR municipio</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/v1/municipio/:id</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite activar municipio</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>PUT</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                
                CORRECTO: 
                STATUS:200 
                MESSAGE: 'municipio activado exitosamente'

                INCORRECTO 
                STATUS: 404 
                BODY :{
                    STATUS: 404
                    MESSAGE: 'No se encontró ningun municipio con el ID ${id}'
                }

                ERROR: 
                STATUS: 500 
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "Error en el sistema"
                }
            </td>
        </tr>

        <tr>
            <td>DESARROLADOR</td>
            <td>Juan Camilo Realpe Ceron</td>
        </tr>

        <tr>
            <td>RAMA</td>
            <td>DEVjcrc</td>
        </tr>
    </table>

</body>
</html>