<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr>
    <h2>Requerimiento. Documentación de notificaciones</h2>
    <hr>

    <h3>Crear notificación</h3>
    <table>

        <td>NUMERO</td>
        <td>1</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Crear notificación</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/notificaciones</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite crear una notificacion en la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>
          { "tipo_not":"mensaje", "fecha_not":"2024-02-20", "texto_not":"Hola,
          buenos dias", "fk_id_subasta":1, "fk_id_usuario":1084251889 }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: 'Notificación creada
          exitosamente.'} Incorrecto: JSON:{status: 404, message: "Error al
          crear la notificación."} Error: JSON:{status: 500, message:'Error en
          el sistema.'}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>
    <h3>Listar notificaciones</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>2</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Listar todas las notificaciones</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/notificaciones</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite listar todas las notificaciones de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message:"Notificaciones encontradas con
          éxito', data:rows} Incorrecto: JSON:{status: 404, message: 'No se
          encontraron notificaciones.'} Error: JSON:{status: 500, message:
          'Error en el sistema.'}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
    <hr>
    <h3>Actualizar notificación</h3>
    <table>
        <td>NUMERO</td>
        <td>3</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>actualizar notificación</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/notificaciones/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite actualizar las notificaciones de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>{ "tipo_not":"cierre" }</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: 'Notificación actualizada
          exitosamente.'} Incorrecto: JSON:{status: 404, message: "El ID
          proporcionado no existe."} Error: JSON:{status: 500, message: 'Error
          en el sistema.'}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
<hr>
    <h3>Buscar notificación</h3>
    <table>

        <td>NUMERO</td>
        <td>4</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Listar notificación</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/notificaciones/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>
          Permite listar una notificación en especifico de la base de datos
        </td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message:"notificación encontrada
          exitosamente.", data:rows} Incorrecto: JSON:{status: 404, message:
          'Error con ID de Notificación, no encontrado.'} Error: JSON:{status:
          500, message: 'Error en el sistema.'}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
 <hr>
    <h3>Eliminar notificación</h3>
    <table>

        <td>NUMERO</td>
        <td>5</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Eliminar notificación</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/notificaciones/1</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite eliminar las notificaciones de la base de datos</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICIÓN body</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON:{status: 200, message: 'Notificación eliminada
          exitosamente.'} Incorrecto: JSON:{status: 404, message: 'La
          notificación con el ID proporcionado no existe.'} Error: JSON:{status:
          500, message: 'Error en el sistema.'}
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>JUAN CAMILO REALPE CERON</td>
      </tr>
      <tr>
        <td>RAMA:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
  </body>
</html>
