<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimiento de la API</title>
</head>
<body>
    <hr>
    <h2>Requerimiento 2. Documentacion de Producción</h2>
    <hr>
    <h3>Registrar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>1</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Registrar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/produccion/registrar</td>
        </tr>
        <tr> 
            <td>DESCRIPCIÓN</td>
            <td>Permite registrar la Producción en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN BODY</td>
            <td>{"cantidad_pro": 10, "fk_id_variedad": 1, "fk_id_finca": 2}</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se registro con exito la producción."
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se registro la producción."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error: "+e
                }
                Error de validación:
                status: 400,
                "errors": [
                  {
                    "type": "field",
                    "value": "",
                    "msg": "estado invalido",
                    "path": "estado_pro",
                    "location": "body"
                  }
                ]
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
        </tr>
        <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
        </tr>
    </table>
    <hr>
    <h3>Listar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>2</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Listar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/produccion/listar</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite listar las Producciones registradas en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN Body</td>
            <td>{"pk_id_pro": 4, "cantidad_pro": 10, "fk_id_variedad": 1, "fk_id_finca": 2}</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                [
                {
                    "pk_id_pro": 5,
                    "cantidad_pro": 300000,
                    "fk_id_variedad": 1,
                    "fk_id_finca": 2,
                    "estado_pro": "activo"
                  }
                ]
              Incorrecto:
              Status:{
                status: 404,
                message: "No se ha registrado ninguna producción en el sistema."
              }
              Error: 
              status: 500,
              body:{
                status:500,message:"Error: "+e
              }
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
        </tr>
        <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
        </tr>
    </table>
    <hr>
    <h3>Actualizar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>3</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Actualizar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>produccion/actualizar/4</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite actualizar las Producciones registradas en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>PUT</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>{"pk_id_pro": 4, "cantidad_pro": 12, "fk_id_variedad": 1, "fk_id_finca": 2}</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "La producción con ID 5 fue actualizado correctamente."
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se encontro nimgúna producción con ese ID 5."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error: "+e
                }
                Error de validación:
                status: 400,
                "errors": [
                  {
                    "type": "field",
                    "value": "",
                    "msg": "Ingrese la cantidad de la produccion.",
                    "path": "cantidad_pro",
                    "location": "body"
                  }
                ]
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
        </tr>
        <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
        </tr>
    </table>
    <hr>
    <h3>Buscar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>4</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Buscar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/produccion/buscar/4</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite buscar una producción registrada en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>{"pk_id_pro": 4, "cantidad_pro": 12, fk_id_variedad": 1, "fk_id_finca": 2}</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "pk_id_pro": 5,
                  "cantidad_pro": 600000,
                  "fk_id_variedad": 1,
                  "fk_id_finca": 2,
                  "estado_pro": "activo"
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se encontró ninguna producción con el ID 5"
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error: "+e
                }
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
        </tr>
        <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
        </tr>
    </table>
    <hr>
    <h3>Desactivar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>5</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Desactivar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/produccion/desactivar/5</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite desactivar una producción registrada en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>PUT</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se desactivo la producción del ID 5"
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "no se encontró la producción del ID 5"
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error: "+e
                }
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
          </tr>
          <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
          </tr>
    </table>
    <hr>
    <h3>Activar Producción.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>6</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Activar producción.</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/produccion/activar/5</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite activar una producción registrada en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>PUT</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se activo la producción del ID 5"
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "no se encontró la producción del ID 5"
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error: "+e
                }
            </td>
        </tr>
        <tr>
            <td>DESARROLLADOR</td>
            <td>JOSE ALEJANDRO VELEZ MUÑOZ</td>
        </tr>
        <tr>
            <td>RAMA:</td>
            <td>DEVjavm</td>
        </tr>
    </table>

</body>
</html>