<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postulantes</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentacion de Postulacion</h2>
    <hr />

    <h3>Crear Postulacion</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear Postulacion</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantes</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite guardar una nueva postulacion en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            {
                "fk_id_usuario": 10000,
                "fk_id_subasta": 11,
                "estado_post": "inactivo"
            }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 JSON: { "status": 200, "message": "Se registro con exito el postulantes." } 
          Incorrecto: Status:401 body:{ "status": 401,"message":  "Error al registrar el postulantes." } 
          Error: Status:505 body:{"status": 505, "message": "Error servidor " }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>

    <h3>Listar Postulaciones</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Postulaciones</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantes</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las postulaciones creadas</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador, Usuarios</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 JSON: { result } 
          Incorrecto:Status:404 body:{ "status": 404, '"Error no hay postulantes" } 
          Error: Status:500 body:{ "status": 500, "message":"Error en el servidor" }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>

    
    <hr />
    <h3>Buscar Postulacion</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar Postulacion por el ID del usuario</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantes/1</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite listar las postulaciones hechas por un usuario en especifico
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador, Usuarios</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 JSON: {  data: rows } 
          Incorrecto: Status:404 body:{ status:505 message: "Error ID postulantes no encontrada" } 
          Error: Status:505 body:{ message:"Error al obtener las postulantes" }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>
    <hr />

    <h3>Eliminar Postulacion</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar Postulacion</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantes/1</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite eliminar una postulacion a traves de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador, Usuarios</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON: { Status:200 message: "Postulante es eliminado exitosamente" } 
          Incorrecto: Status:404 body:{ status:404 message:" "El postulante con el ID proporcionado no existe" } 
          Error: Status:500 body:{  message: "Error al eliminar la postulacion" }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>

    <hr />
    <h3>Desactivar Postulacion</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar Postulacion</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantesinactivo/9</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite desactivar una postulacion a traves de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador, Usuario</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON: { Status:200 message: "postulacion Inactiva" } 
          Incorrecto: Status:404 body:{ status:404 message: `No se encontró ninguna postulacion con el ID ${id}` } 
          Error: Status:500 body:{ message: "Error en el sistema" }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>

    <hr />
    <h3>Activar Postulacion</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar Postulacion</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>http://localhost:4000/v1/postulantesactivo/9</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite activar una postulacion a traves de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>Administrador, Usuario</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: JSON: { Status:200 message: "postulacion Activa " } 
          Incorrecto: Status:404 body:{ status:404 message: `No se encontró ninguna postulacion con el ID ${id}`} 
          Error: Status:500 body:{ message: "Error en el sistema" }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Jorge Enrique Nuñez Molina</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjenm</td>
      </tr>
    </table>
  </body>
</html>
