<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postulantes</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentacion de Postulante</h2>

    <hr />
    <h3>Crear postulante</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear postulante</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantes</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite crear un postulante en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          <pre><code>{
  "fk_id_usuario": 10000,
  "fk_id_subasta": 11,
  "estado_post": "activo"
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Postulante creado exitosamente"
}</code></pre>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Postulante reactivado exitosamente"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 400
          <pre><code>{
  "message": "El usuario ya está postulado para esta subasta"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error al reactivar el postulante"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error al crear el postulante"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar postulantes</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar postulantes</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantes_sub/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar todos los postulantes creados en la base de datos según una subasta</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>[
  {
    "pk_id_post": 14,
    "fk_id_usuario": 3,
    "fk_id_subasta": 32,
    "estado_post": "activo",
    "nombre_user": "vendedor",
    "email_user": "vendedor@gmail.com",
    "imagen_user": "imagen_perfil2.jpg"
  },
  {
    "pk_id_post": 15, 
    "fk_id_usuario": 2,
    "fk_id_subasta": 30,
    "estado_post": "activo",
    "nombre_user": "comprador",
    "email_user": "comprador@gmail.com",
    "imagen_user": "imagen_perfil.jpg"
  },
  ...
]</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Por el momento no hay postulantes."
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar postulantes activos</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar postulantes activos</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantes_activos/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar todos los postulantes activos creados en la base de datos según una subasta</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>[
  {
    "pk_id_post": 15,
    "fk_id_usuario": 2,
    "fk_id_subasta": 30,
    "estado_post": "activo",
    "nombre_user": "comprador",
    "email_user": "comprador@gmail.com",
    "imagen_user": "imagen_perfil.jpg"
  },
  {
    "pk_id_post": 16,
    "fk_id_usuario": 3,
    "fk_id_subasta": 30,
    "estado_post": "activo",
    "nombre_user": "vendedor",
    "email_user": "vendedor@gmail.com",
    "imagen_user": "imagen_perfil2.jpg"
  },
  ...
]</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error, postulantes no encontrados para el ID subasta"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar postulante</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar postulante</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantes/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite eliminar un postulante creado en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Postulante eliminado exitosamente"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "El postulante con el ID proporcionado no existe"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Desactivar postulante</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar postulante</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantesinactivo/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite desactivar un postulante creado en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Postulante desactivado exitosamente"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "No se encontró ningun postulante con el ID"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Activar postulante</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar postulante</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/postulantesactivo/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite activar un postulante creado en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Postulante activado exitosamente"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "No se encontró ningun postulante con el ID"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

  </body>
</html>
