<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Documentacion de la Api</h1>
    <hr>
    <h2>Requerimiento 1. Documentacion del Registro de usuario</h2>
   
        <h3>REGISTRAR USUARIOS</h3>
        <table>
            <tr>
                <td>NUMERO</td>
                <td>1</td>
            </tr>

            <tr>
                <td>NOMBRE DEL ENDPOINT</td>
                <td>REGISTRAR USUARIOS</td>
            </tr>

            <tr>
                <td>URI</td>
                <td>/usuario/registrar</td>
            </tr>

            <tr>
                <td>DESCRIPCION</td>
                <td>Permite registrar a los usuarios</td>
            </tr>

            <tr>
                <td>VERBO HTTP</td>
                <td>POST</td>
            </tr>

            <tr>
                <td>HEADER</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>USUARIOS</td>
                <td>ADMINISTRADOR</td>
            </tr>

            <tr>
                <td>PETICION BODY</td>
                <td>{"pk_cedula_user": 10,
                    "nombre_user": "Valentina",
                    "email_user": "value@gmail.com",
                    "password_user": "mikysus",
                    "descripcion_user": "Hola soy vendedor",
                    "imagen_user": null,
                    "telefono_user": "33903033",
                    "fecha_nacimiento_user": "1899-11-03"}</td>
            </tr>

            <tr>
                <td>RESPUESTA JSON</td>
                <td>
                    
                    CORRECTO: 
                    STATUS:200 
                    MESSAGE: "Felicidades, el registro fue un exito"
                    JSON 
                    {
                        "pk_cedula_user": 10,
                        "nombre_user": "Valentina",
                        "email_user": "value@gmail.com",
                        "password_user": "mikysus",
                        "descripcion_user": "Hola soy vendedor",
                        "imagen_user": null,
                        "telefono_user": "33903033",
                        "fecha_nacimiento_user": "1899-11-03"
                    },

                    INCORRECTO 
                    STATUS: 404 
                    BODY :{
                        STATUS: 404
                        MESSAGE: "Error, El registro fue denegado"
                    } 

                    ERROR: 
                    STATUS: 500 
                    BODY : JSON{
                        STATUS:500,
                        MESSAGE: "ERROR EN EL SERVIDOR"
                    }
                </td>
            </tr>

            <tr>
                <td>DESARROLADOR</td>
                <td>VALENTINA DIAZ LERMA</td>
            </tr>

            <tr>
                <td>RAMA</td>
                <td>DEVvdl</td>
            </tr>
        </table>
        <hr>
        <h3>LISTAR USUARIOS</h3>
            <table>
                <tr>
                    <td>NUMERO</td>
                    <td>2</td>
                </tr>
    
                <tr>
                    <td>NOMBRE DEL ENDPOINT</td>
                    <td>LISTAR USUARIOS</td>
                </tr>
    
                <tr>
                    <td>URI</td>
                    <td>/usuario/listar</td>
                </tr>
    
                <tr>
                    <td>DESCRIPCION</td>
                    <td>Permite listar a los usuarios que se encuentran registrados en la base de datos</td>
                </tr>
    
                <tr>
                    <td>VERBO HTTP</td>
                    <td>GET</td>
                </tr>
    
                <tr>
                    <td>HEADER</td>
                    <td>NULL</td>
                </tr>
    
                <tr>
                    <td>USUARIOS</td>
                    <td>ADMINISTRADOR</td>
                </tr>
    
                <tr>
                    <td>PETICION BODY</td>
                    <td>NULL</td>
                </tr>
    
                <tr>
                    <td>RESPUESTA JSON</td>
                    <td>
                        
                        CORRECTA:
                        STATUS:200 
                        JSON
                        {
                            "pk_cedula_user": 10,
                            "nombre_user": "Valentina",
                            "email_user": "value@gmail.com",
                            "password_user": "mikysus",
                            "descripcion_user": "Hola soy vendedor",
                            "imagen_user": null,
                            "telefono_user": "33903033",
                            "fecha_nacimiento_user": "1899-11-03"
                        }
    
                        INCORRECTO: 
                        STATUS: 404 
                        BODY :{
                            STATUS: 404
                            MESSAGE: "Error, No hay registros de usuario"
                        } 
    
                        ERROR: 
                        STATUS: 500 
                        BODY : JSON{
                            STATUS:500,
                            MESSAGE: "ERROR EN EL SERVIDOR"
                        } 
                    </td>
                </tr>
                
                <tr>
                    <td>DESARROLADOR</td>
                    <td>VALENTINA DIAZ LERMA</td>
                </tr>
    
                <tr>
                    <td>RAMA</td>
                    <td>DEVvdl</td>
                </tr>
            </table>
    
    
 


        <h3>ACTUALIZAR USUARIOS</h3>
        <table>
            <tr>
                <td>NUMERO</td>
                <td>3</td>
            </tr>

            <tr>
                <td>NOMBRE DEL ENDPOINT</td>
                <td>ACTUALIZAR USUARIOS</td>
            </tr>

            <tr>
                <td>URI</td>
                <td>/usuario/actualizar/10</td>
            </tr>

            <tr>
                <td>DESCRIPCION</td>
                <td>Permite actualizar los datos de los usuarios </td>
            </tr>

            <tr>
                <td>VERBO HTTP</td>
                <td>PUT</td>
            </tr>

            <tr>
                <td>HEADER</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>USUARIOS</td>
                <td>ADMINISTRADOR</td>
            </tr>

            <tr>
                <td>PETICION BODY</td>
                <td>{
                    "nombre_user": "valentina l",
                    "telefono_user":"3207383",
                    "email_user": "valus@hotmail.com",
                    "password_user": "7382b"
                    }
                </td>
            </tr>

            <tr>
                <td>RESPUESTA JSON</td>
                <td>
                    
                    CORRECTO: 
                    STATUS:200 
                    MESSAGE: "Felicidades, La actualizacion del usuario fue un exito"
                    JSON 
                    {
                        "nombre_user": "valentina l",
                        "telefono_user":"3207383",
                        "email_user": "valus@hotmail.com",
                        "password_user": "7382b"
                    }

                    INCORRECTO 
                    STATUS: 404 
                    BODY :{
                        STATUS: 404
                        MESSAGE: "Error, La actualizacion fue denegada"
                    }

                    ERROR: 
                    STATUS: 500 
                    BODY : JSON{
                        STATUS:500,
                        MESSAGE: "ERROR EN EL SERVIDOR"
                    }
                </td>
            </tr>

            <tr>
                <td>DESARROLADOR</td>
                <td>VALENTINA DIAZ LERMA</td>
            </tr>

            <tr>
                <td>RAMA</td>
                <td>DEVvdl</td>
            </tr>
        </table>



        <h3>BUSCAR USUARIOS</h3>

        <table>
            <tr>
                <td>NUMERO</td>
                <td>4</td>
            </tr>

            <tr>
                <td>NOMBRE DEL ENDPOINT</td>
                <td>BUSCAR USUARIOS</td>
            </tr>

            <tr>
                <td>URI</td>
                <td>/usuario/buscar/10</td>
            </tr>

            <tr>
                <td>DESCRIPCION</td>
                <td>Permite buscar a los usuarios</td>
            </tr>

            <tr>
                <td>VERBO</td>
                <td>GET</td>
            </tr>

            <tr>
                <td>HEADER</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>USUARIOS</td>
                <td>ADMINISTRADOR</td>
            </tr>

            <tr>
                <td>PETICION</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>RESPUESTA JSON</td>
                <td>
                    
                    CORRECTO: 
                    STATUS:200
                    JSON 
                    {
                        "pk_cedula_user": 10,
                        "nombre_user": "valentina l",
                        "email_user": "valus@hotmail.com",
                        "password_user": "7382b",
                        "descripcion_user": "Hola soy vendedor",
                        "imagen_user": null,
                        "telefono_user": "3207383",
                        "fecha_nacimiento_user": "1899-11-30T04:56:16.000Z"
                    }


                    INCORRECTO 
                    STATUS: 404 
                    BODY :{
                        STATUS: 404
                        MESSAGE: 'Error, No se encuentra de usuario'
                    }

                    ERROR: 
                    STATUS: 500 
                    BODY : JSON{
                        STATUS:500,
                        MESSAGE: "ERROR EN EL SERVIDOR"
                    }
                </td>
            </tr>

            <tr>
                <td>DESARROLADOR</td>
                <td>VALENTINA DIAZ LERMA</td>
            </tr>

            <tr>
                <td>RAMA</td>
                <td>DEVvdl</td>
            </tr>
        </table>



        <h3>ELIMINAR USUARIOS</h3>

        <table>
            <tr>
                <td>NUMERO</td>
                <td>5</td>
            </tr>

            <tr>
                <td>NOMBRE DEL ENDPOINT</td>
                <td>ELIMINAR USUARIOS</td>
            </tr>

            <tr>
                <td>URI</td>
                <td>/usuario/eliminar/10</td>
            </tr>

            <tr>
                <td>DESCRIPCION</td>
                <td>Permite eliminar a usuarios</td>
            </tr>

            <tr>
                <td>VERBO</td>
                <td>DELETE</td>
            </tr>

            <tr>
                <td>HEADER</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>USUARIOS</td>
                <td>ADMINISTRADOR</td>
            </tr>

            <tr>
                <td>PETICION</td>
                <td>NULL</td>
            </tr>

            <tr>
                <td>RESPUESTA JSON</td>
                <td>
                    
                    CORRECTO: 
                    STATUS:200 
                    MESSAGE: 'Se elimino el usuario exitasamente' 

                    INCORRECTO 
                    STATUS: 404 
                    BODY :{
                        STATUS: 404
                        MESSAGE: 'Error, no se elimino usuario'
                    }

                    ERROR: 
                    STATUS: 500 
                    BODY : JSON{
                        STATUS:500,
                        MESSAGE: "ERROR EN EL SERVIDOR"
                    }
                </td>
            </tr>

            <tr>
                <td>DESARROLADOR</td>
                <td>VALENTINA DIAZ LERMA</td>
            </tr>

            <tr>
                <td>RAMA</td>
                <td>DEVvdl</td>
            </tr>
        </table>



</body>
</html>