<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subasta</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentacion de Subasta</h2>

    <hr />
    <h3>Crear Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subasta</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite crear subastas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          <pre><code>{
  "fecha_inicio_sub": "2023-04-04T05:00:00.000Z",
  "fecha_fin_sub": "2023-04-06T05:00:00.000Z",
  "imagen_sub": "logo redondo sc.png",
  "precio_inicial_sub": 1000,
  "cantidad_sub": 5,
  "unidad_peso_sub": "Kilogramo",
  "fk_variedad": 7,
  "estado_sub": "abierta",
  "certificado_sub": "certificado.pdf",
  "descripcion_sub": "Descripción de la subasta",
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Subasta creada con éxito"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error al crear la subasta"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Subastas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subasta</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar las subastas creadas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Datos de subasta obtenidos correctamente",
  "data": {
      "pk_id_sub": 30,
      "fecha_inicio_sub": "2024-06-09T03:40:00.000Z",
      "fecha_fin_sub": "2024-06-09T04:40:00.000Z",
      "imagen_sub": "WhatsApp Image 2024-06-08 at 2.44.54 PM.jpeg",
      "precio_inicial_sub": 99000,
      "precio_final_sub": 199000,
      "unidad_peso_sub": "Kilogramo",
      "cantidad_sub": 18,
      "estado_sub": "cerrada",
      "certificado_sub": "requerimientos_juan.docx",
      "descripcion_sub": "Es una muy buena subasta",
      "fk_variedad": 26,
      "ganador_sub": 2,
      "nombre_tipo_vari": "Typica",
      "pk_id_vari": 26,
      "estado_vari": "activo",
      "fk_tipo_variedad": 1,
      "fk_finca": 38,
      "pk_cedula_user": 1,
      "nombre_user": "vendedor",
      "email_user": "vendedor@gmail.com",
      "descripcion_user": "",
      "imagen_user": null,
      "telefono_user": "3167654352",
      "rol_user": "vendedor",
      "estado_user": "activo",
      "nombre_fin": "Mi Segunda Finca",
      "imagen_fin": "finca1.jpeg",
      "nombre_vere": "Remolinos",
      "nombre_muni": "Isnos",
      "nombre_depar": "Huila"
  },
  ...
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "No se encontraron subastas"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subasta/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite actualizar las subastas creadas en la base de datos según su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          <pre><code>{
  "fecha_inicio_sub": "2023-04-04T05:00:00.000Z",
  "fecha_fin_sub": "2023-04-06T05:00:00.000Z",
  "imagen_sub": "logo redondo sc.png",
  "precio_inicial_sub": 5000,
  "cantidad_sub": 5,
  "unidad_peso_sub": "Kilogramo",
  "fk_variedad": 7,
  "estado_sub": "abierta",
  "certificado_sub": "certificado.pdf",
  "descripcion_sub": "Descripción de la subasta",
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Subasta actualizada exitosamente"
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error al actualizar la subasta"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/buscar/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar la subasta con el ID proporcionado creada en la base de datos.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
      <strong>Correcto:</strong> Status: 200
      <pre><code>{
  "message": "Datos de subasta obtenidos correctamente",
  "data": {
    "pk_id_sub": 12,
    "nombre_sub": "Nombre de la subasta",
    "fecha_inicio_sub": "2023-04-04T05:00:00.000Z",
    "fecha_fin_sub": "2023-04-06T05:00:00.000Z",
    "imagen_sub": "logo redondo sc.png",
    "precio_inicial_sub": 5000,
    "cantidad_sub": 5,
    "unidad_peso_sub": "Kilogramo",
    "fk_variedad": 7,
    "estado_sub": "abierta",
    "certificado_sub": "certificado.pdf",
    "descripcion_sub": "Descripción de la subasta",
    "nombre_tipo_vari": "Tipo de Variedad",
    "nombre_fin": "Nombre de la Finca",
    "imagen_fin": "imagen_finca.jpg",
    "nombre_vere": "Nombre de la Vereda",
    "nombre_muni": "Nombre del Municipio",
    "nombre_depar": "Nombre del Departamento",
    "nombre_usuario": "Nombre del Usuario"
  }
}</code></pre>
      <strong>Incorrecto:</strong> Status: 404
      <pre><code>{
  "message": "No se encontró ninguna subasta con el id consultado."
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar Subasta</h3>
    <table>
      <tr>
          <td>Número</td>
          <td>5</td>
      </tr>
      <tr>
          <td>Nombre del Servicio</td>
          <td>Eliminar subasta</td>
      </tr>
      <tr>
          <td>URI</td>
          <td>/v1/subasta/:id</td>
      </tr>
      <tr>
          <td>Descripción:</td>
          <td>Permite eliminar una subasta de la base de datos según su ID.</td>
      </tr>
      <tr>
          <td>Verbo HTTP:</td>
          <td>DELETE</td>
      </tr>
      <tr>
          <td>HEADER:</td>
          <td>token: token</td>
      </tr>
      <tr>
          <td>Usuarios:</td>
          <td>VENDEDOR</td>
      </tr>
      <tr>
          <td>RESPUESTA JSON</td>
          <td>
              <strong>Correcto:</strong> Status: 200
              <pre><code>{
    "message": "Subasta eliminada exitosamente"
}</code></pre>
                <strong>Incorrecto:</strong> Status: 404
                <pre><code>{
    "message": "Error al eliminar la subasta"
}</code></pre>
                <strong>Error:</strong> Status: 500
                <pre><code>{
    "message": "Error en el servidor " + error
}</code></pre>
            </td>
        </tr>
        <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
        </tr>
        <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
        </tr>
    </table>  

    <hr />
    <h3>Activar Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subastaac/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite activar la subasta con el ID proporcionado creada en la base de datos.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
      <strong>Correcto:</strong> Status: 200
      <pre><code>{
  "message": "Subasta activada exitosamente."
}</code></pre>
      <strong>Incorrecto:</strong> Status: 404
      <pre><code>{
  "message": "No se encontró ninguna Subasta con el ID"
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
    </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Desactivar Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subastades/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite desactivar la subasta con el ID proporcionado creada en la base de datos.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
      <strong>Correcto:</strong> Status: 200
      <pre><code>{
  "message": "Subasta cerrada exitosamente."
}</code></pre>
      <strong>Incorrecto:</strong> Status: 404
      <pre><code>{
  "message": "No se encontró ninguna Subasta con el ID"
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Espera Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Espera Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/espera/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite clocar en espera la subasta con id proporcionado creado en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
      <pre><code>{
  "mensaje": "Subasta en espera exitosamente."
}</code></pre>
      <strong>Incorrecto:</strong> Status: 404
      <pre><code>{
  "mensaje": "No se encontró ninguna Subasta con el ID"
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "mensaje": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Proceso Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>9</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Proceso Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/proceso/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite clocar en proceso la subasta con id proporcionado creado en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "mensaje": "Subasta en proceso exitosamente."
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "mensaje": "No se encontró ninguna Subasta con el ID"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "mensaje": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar Subasta por Usuario</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar Subasta por Usuario</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/buscarsubforuser/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite buscar todas las subastas asociadas a un usuario específico mediante su ID.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
      <strong>Correcto:</strong> Status: 200
      <pre><code>[
  "message": "Datos de subasta obtenidos correctamente",
  "total_subastas": 4,
  "data": [ {
    "pk_id_sub": 30,
    "fecha_inicio_sub": "2024-06-09T03:40:00.000Z",
    "fecha_fin_sub": "2024-06-09T04:40:00.000Z",
    "imagen_sub": "WhatsApp Image 2024-06-08 at 2.44.54 PM.jpeg",
    "precio_inicial_sub": 99000,
    "precio_final_sub": 199000,
    "unidad_peso_sub": "Kilogramo",
    "cantidad_sub": 18,
    "estado_sub": "cerrada",
    "certificado_sub": "requerimientos_juan.docx",
    "descripcion_sub": "Es una muy buena subasta",
    "fk_variedad": 26,
    "ganador_sub": 2,
    "nombre_tipo_vari": "Typica",
    "pk_id_vari": 26,
    "estado_vari": "activo",
    "fk_tipo_variedad": 1,
    "fk_finca": 38,
    "pk_cedula_user": 1,
    "nombre_user": "vendedor",
    "email_user": "vendedor@gmail.com",
    "descripcion_user": "",
    "imagen_user": null,
    "telefono_user": "3167654352",
    "rol_user": "vendedor",
    "estado_user": "activo",
    "nombre_fin": "Mi Segunda Finca",
    "imagen_fin": "finca1.jpeg",
    "nombre_vere": "Remolinos",
    "nombre_muni": "Isnos",
    "nombre_depar": "Huila"
  },
  ...
]</code></pre>
      <strong>Incorrecto:</strong> Status: 204
      <pre><code>{
  "message": "No se encontraron subastas para el usuario proporcionado."
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar Datos de Subasta</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>11</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar Datos de Subasta</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/eliminardatos/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite eliminar datos específicos de una subasta identificada por su ID, estableciendo el precio final y el ganador como NULL.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Datos de subasta cambiados exitosamente."
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "No se encontró una subasta con el ID proporcionado."
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Obtener Subasta Ganadora</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Obtener Subasta Ganadora</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subastaganador/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite obtener las subastas ganadoras asociadas a un usuario específico mediante su ID.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
      <strong>Correcto:</strong> Status: 200
      <pre><code>[
  "total_subastas_ganadas": 3,
  {
    "pk_id_sub": 30,
    "fecha_inicio_sub": "2024-06-09T03:40:00.000Z",
    "fecha_fin_sub": "2024-06-09T04:40:00.000Z",
    "imagen_sub": "WhatsApp Image 2024-06-08 at 2.44.54 PM.jpeg",
    "precio_inicial_sub": 99000,
    "precio_final_sub": 199000,
    "unidad_peso_sub": "Kilogramo",
    "cantidad_sub": 18,
    "estado_sub": "cerrada",
    "certificado_sub": "requerimientos_juan.docx",
    "descripcion_sub": "Es una muy buena subasta",
    "fk_variedad": 26,
    "ganador_sub": 2,
    "nombre_tipo_vari": "Typica",
    "pk_id_vari": 26,
    "estado_vari": "activo",
    "fk_tipo_variedad": 1,
    "fk_finca": 38,
    "pk_cedula_user": 1,
    "nombre_user": "vendedor",
    "email_user": "vendedor@gmail.com",
    "descripcion_user": "",
    "imagen_user": null,
    "telefono_user": "3167654352",
    "rol_user": "vendedor",
    "estado_user": "activo",
    "nombre_fin": "Mi Segunda Finca",
    "imagen_fin": "finca1.jpeg",
    "nombre_vere": "Remolinos",
    "nombre_muni": "Isnos",
    "nombre_depar": "Huila"
  }, 
  ...
]</code></pre>
      <strong>Incorrecto:</strong> Status: 200 con mensaje
      <pre><code>{
  "message": "No se encontraron subastas ganadas por este usuario."
}</code></pre>
      <strong>Error:</strong> Status: 500
      <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar Todas las Subastas Menos Cerradas</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>13</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Todas las Subastas Menos Cerradas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subastasActivasMenosCerradas</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar todas las subastas con estado (abiertas, en proceso, en espera) creadas en la base de datos.</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>[  
  {
    "pk_id_sub": 30,
    "fecha_inicio_sub": "2024-06-09T03:40:00.000Z",
    "fecha_fin_sub": "2024-06-09T04:40:00.000Z",
    "imagen_sub": "WhatsApp Image 2024-06-08 at 2.44.54 PM.jpeg",
    "precio_inicial_sub": 99000,
    "precio_final_sub": 199000,
    "unidad_peso_sub": "Kilogramo",
    "cantidad_sub": 18,
    "estado_sub": "proceso",
    "certificado_sub": "requerimientos_juan.docx",
    "descripcion_sub": "Es una muy buena subasta",
    "fk_variedad": 26,
    "ganador_sub": 2,
    "nombre_tipo_vari": "Typica",
    "pk_id_vari": 26,
    "estado_vari": "activo",
    "fk_tipo_variedad": 1,
    "fk_finca": 38,
    "pk_cedula_user": 1,
    "nombre_user": "vendedor",
    "email_user": "vendedor@gmail.com",
    "descripcion_user": "",
    "imagen_user": null,
    "telefono_user": "3167654352",
    "rol_user": "vendedor",
    "estado_user": "activo",
    "nombre_fin": "Mi Segunda Finca",
    "imagen_fin": "finca1.jpeg",
    "nombre_vere": "Remolinos",
    "nombre_muni": "Isnos",
    "nombre_depar": "Huila"
  }, 
  ...
]</code></pre>
          <strong>Incorrecto:</strong> Status: 200 con mensaje
          <pre><code>{
  "message": "No se encontraron subastas."
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar Subasta Ganadora</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>14</td>
      </tr>
      <td>Nombre del Servicio</td>
      <td>Actualizar Subasta Ganadora</td>
    </tr>
    <tr>
      <td>URI</td>
      <td>/v1/subastaganador/:id</td>
    </tr>
    <tr>
      <td>Descripción:</td>
      <td>Permite actualizar el precio final y el ganador de una subasta identificada por su ID.</td>
    </tr>
    <tr>
      <td>Verbo HTTP:</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>HEADER:</td>
      <td>token: token</td>
    </tr>
    <tr>
      <td>Usuarios:</td>
      <td>VENDEDOR</td>
    </tr>
    <tr>
      <td>PETICION BODY</td>
      <td>
    <pre><code>{
  "precio_final_sub": 2500000,
  "ganador_sub": 4
}</code></pre>
  </td>
</tr>
<tr>
  <td>RESPUESTA JSON</td>
  <td>
    <strong>Correcto:</strong> Status: 200
    <pre><code>{
  "message": "Se estableció el ganador con éxito"
}</code></pre>
    <strong>Incorrecto:</strong> Status: 404
    <pre><code>{
  "message": "Error al establecer el ganador de la subasta"
}</code></pre>
    <strong>Error:</strong> Status: 500
    <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
      </td>
    </tr>
    <tr>
      <td>Desarrollador:</td>
      <td>Juan Camilo Realpe Ceron</td>
    </tr>
    <tr>
      <td>Rama:</td>
      <td>DEVjcrc</td>
    </tr>
    </table>

    <hr />
    <h3>Listar estadisticas de las subastas</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar estadisticas de las subastas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/subastaAll</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar las estadisticas de las subastas creadas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre><code>{
  "message": "Estadisticas obtenidas exitosamente",
  {"resumen_subastas":[{"todas_las_subastas":9,"subastas_abiertas":0,"subastas_en_espera":2,"subastas_cerradas":7,"subastas_en_proceso":0}],"estadisticas_subastas":{"subastas_con_ganador_y_precio":7,"subastas_sin_ganador_o_precio_inactivas":0,"subastas_no_terminadas":2},"subastas_por_mes":[{"mes":"Enero","subastas":0},{"mes":"Febrero","subastas":0},{"mes":"Marzo","subastas":0},{"mes":"Abril","subastas":0},{"mes":"Mayo","subastas":0},{"mes":"Junio","subastas":8},{"mes":"Julio","subastas":1},{"mes":"Agosto","subastas":0},{"mes":"Septiembre","subastas":0},{"mes":"Octubre","subastas":0},{"mes":"Noviembre","subastas":0},{"mes":"Diciembre","subastas":0}],"subastas_por_año":[{"año":2022,"subastas_por_año":0},{"año":2023,"subastas_por_año":0},{"año":2024,"subastas_por_año":9},{"año":2025,"subastas_por_año":0},{"año":2026,"subastas_por_año":0}],"subastas_por_variedad":[{"variedad":"Morgan","subastas_por_variedad":1},{"variedad":"Obatá","subastas_por_variedad":3},{"variedad":"Sarchimor","subastas_por_variedad":2},{"variedad":"Typica","subastas_por_variedad":3}],"promedio_precio":[{"precio_promedio":"1079142.8571","precio_maximo":5000000,"precio_minimo":105000}]}
  ...
}</code></pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre><code>{
  "message": "Error al obtener las estadisticas datos"
}</code></pre>
          <strong>Error:</strong> Status: 500
          <pre><code>{
  "message": "Error en el servidor " + error
}</code></pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

  </body>
</html>
