<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos.css">
    <title>Documentación de la API</title>
</head>
<body>

    <h2>Requerimiento  Documentacion de Sentimiento</h2>
    <hr>
    <h3>Registrar Sentimiento.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>1</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Registrar sentimiento</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/subcoffee/registrarSentimiento</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite registrar los sentimientos en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>POST</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se registro el sentimiento con exito."
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "Error al registrar el sentimiento."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error del sistema "+e
                }
            </td>
        </tr>
    </table>
    <hr>
    <h3>Actualizar Sentimiento.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>2</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Actualizar sentimiento</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/subcoffee/actualizarSentimiento/:id</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite actualizar los sentimientos registradas en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>PUT</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se actualizo el sentimiento con el ID 2."
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se encontro ningún dato por el ID 2."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error del sistema "+e
                }
            </td>
        </tr>
    </table>
    <hr>
    <h3>Buscar Sentimiento.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>3</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Buscar sentimiento</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/subcoffee/buscarSentimiento/:id</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite buscar un sentimiento registrado en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "{
                    "ID_inter": 2,
                    "seguidores": null,
                    "sentimiento": "Negativo",
                    "siguiendo": null
                  }"
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se encontro ningún dato por el ID 2."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error del sistema "+e
                }
            </td>
        </tr>
    </table>
    <hr>
    <h3>Borrar Sentimiento.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>4</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>Borrar sentimiento</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/subcoffee/borrarSentimiento/:id</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite borrar un sentimiento registrado en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>DELETE</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                {
                  "status": 200,
                  "message": "Se elemino el sentimien del ID 2."
                }
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No se encontro ningún dato por el ID 2."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error del sistema "+e
                }
            </td>
        </tr>
    </table>
    <hr>
    <h3>Listar Sentimiento.</h3>
    <table>
        <tr>
            <td>NÚMERO</td>
            <td>5</td>
        </tr>
        <tr>
            <td>NOMBRE DE SERVICIO</td>
            <td>listar sentimiento</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>/subcoffee/listarSentimiento</td>
        </tr>
        <tr>
            <td>DESCRIPCIÓN</td>
            <td>Permite listar los sentimientos registrados en la base de datos.</td>
        </tr>
        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>
        <tr>
            <td>HEADER</td>
            <td>token: token</td>
        </tr>
        <tr>
            <td>USUARIOS</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <td>PETICIÓN json</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>REPUESTA JSON</td>
            <td>
                Correcto:
                Status: 200
                [
                  {
                      "ID_inter": 1,
                      "seguidores": null,
                      "sentimiento": "Positivo",
                      "siguiendo": null
                  },
                  {
                      "ID_inter": 2,
                      "seguidores": null,
                      "sentimiento": "Neutro",
                      "siguiendo": null
                  }
                ]
                Incorrecto:
                Status:{
                  status: 404,
                  message: "No hay sentimientos guardados."
                }
                Error: 
                status: 500,
                body:{
                  status:500,message:"Error del sistema "+e
                }
            </td>
        </tr>
    </table>
</body>
</html>