<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentación de Tipos de Variedad</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento: Documentación de Tipos de Variedad</h2>
    <hr />

    <h3>Crear tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite registrar tipos de variedades en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          <pre>{
  "nombre_tipo_vari": "Tabi"
}</pre>
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad creada con éxito"
}</pre>
          <strong>Incorrecto:</strong> Status: 400 (Variedad existente)
          <pre>{
  "message": "El tipo de variedad ya existe"
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al crear el tipo de variedad"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar todos los tipos de variedades creados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipos de variedades encontradas",
  "data": [
    {
      "pk_id_tipo_vari": 1,
      "nombre_tipo_vari": "Tipica",
      "estado_tipo_vari": "activo"
    },
    {
      "pk_id_tipo_vari": 2,
      "nombre_tipo_vari": "Caturra",
      "estado_tipo_vari": "activo"
    }
  ]
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al buscar los tipos de variedades"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite actualizar los tipos de variedades en la base de datos por medio de su id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          <pre>{
  "nombre_tipo_vari": "Tipica"
}</pre>
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad actualizada con éxito"
}</pre>
          <strong>Incorrecto:</strong> Status: 400 (Variedad existente)
          <pre>{
  "message": "El tipo de variedad ya existe"
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al actualizar el tipo de variedad con ese ID"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar tipos Variedad</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite buscar los tipos variedades en la base de datos por medio de su ID </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad encontrada",
  "data": [
    {
      "pk_id_tipo_vari": 1,
      "nombre_tipo_vari": "Tipica",
      "estado_tipo_vari": "activo"
    }
  ]
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al buscar el tipo de variedad con ese ID"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite eliminar los tipos de variedades en la base de datos por medio de su id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad eliminada con éxito"
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al eliminar el tipo de variedad con ese ID"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Desactivar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_varides/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite desactivar los tipos de variedades en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad desactivada exitosamente"
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "No se encontró ningún tipo de variedad con el ID"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Activar tipos de variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar tipos de variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipos_vari/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite activar tipos de variedades</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "message": "Tipo de variedad activada exitosamente"
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "No se encontró ningún tipo de variedad con el ID"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Listar tipos de variedades activas por usuario y finca</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar tipos de variedades activas por usuario y finca</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/tipo_vari_activas/:id/:finca</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar los tipos de variedades activas que aún no han sido escogidas por un usuario de la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
<pre>{
  "message": "Tipos de variedades encontradas",
  "data": [
    {
      "pk_id_tipo_vari": 1,
      "nombre_tipo_vari": "Typica",
      "estado_tipo_vari": "activo"
    },
    {
      "pk_id_tipo_vari": 2,
      "nombre_tipo_vari": "Caturra",
      "estado_tipo_vari": "activo"
    }
  ]
}</pre>
          <strong>Incorrecto:</strong> Status: 404
          <pre>{
  "message": "Error al buscar los tipos de variedades"
}</pre>
          <strong>Error:</strong> Status: 500
          <pre>{
  "message": "Error en el servidor: " + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

  </body>
</html>
