<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentación de usuario</h2>
    <hr />
    <h3>Autenticar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Autenticar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/auth/login</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite autenticar a los usuarios</td>
      </tr>
      <tr>
        <td>Verbo HTTP</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, COMPRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
<pre>{
  "correo": admin@gmail.com,
  "password": "123456789",
}</pre>
</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          <strong>Correcto:</strong> Status: 200
          <pre>{
  "user": {
      "pk_cedula_user": 123456,
      "nombre_user": "admin",
      "email_user": "admin@gmail.com",
      "password_user": "$2b$12$sfx4cyI/O.lJ1cgGyAeEy.QbRDp2ox.TbMzJU487RtZv9njcOFBAy",
      "descripcion_user": null,
      "imagen_user": imagen_perfil5.jpg,
      "telefono_user": "3214131",
      "rol_user": "admin",
      "estado_user": "activo"
  },
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre>{
  "message": "Correo incorrecto"
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre>{
  "message": "Contraseña incorrecta"
}</pre>
<strong>Error:</strong> Status: 500
<pre>{
  "message": "Error en el servidor" + error
}</pre>
        </td>
      </tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Registrar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Registrar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>Permite registrar usuarios en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR</td>
      </tr>
<tr>
<td>PETICIÓN BODY</td>
<td>
<pre>{
  "cedula_user": 100000,
  "imagen_user": imagen_perfil3.jpg,
  "nombre_user": "Pepito Perez",
  "email_user": "pepito@gmail.com",
  "password_user": "123456789",
  "telefono_user": "3100000000",
  "fechanacimiento_user": "2000-01-01",
  "rol_user": "vendedor"
}</pre>
</td>
</tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre>{
  "message": "Usuario creado exitosamente"
}</pre>
<strong>Incorrecto:</strong> Status: 400 (Cédula existente)
<pre>{
  "message": "Ya existe un usuario con esa cédula"
}</pre>
<strong>Incorrecto:</strong> Status: 400 (Correo existente)
<pre>{
  "message": "Ya existe un usuario con ese correo"
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre>{
  "message": "No se pudo crear el usuario"
}</pre>
<strong>Error:</strong> Status: 500
<pre>{
  "message": "Error en el servidor" + error
}</pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Listar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite listar a los usuarios que se encuentran registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Los usuarios son:",
  "data": [
    {
      "pk_cedula_user": 1,
      "nombre_user": "vendedor",
      "email_user": "vendedor@gmail.com",
      "password_user": "$2b$12$af5bnP76MuPb3IwdEsqcROiAuNt6HjOQjdhFwPtfAV0RcNAG5oJeO",
      "descripcion_user": "",
      "imagen_user": null,
      "telefono_user": "3167654352",
      "rol_user": "vendedor",
      "estado_user": "activo"
    },
    {
      "pk_cedula_user": 2,
      "nombre_user": "comprador",
      "email_user": "comprador@gmail.com",
      "password_user": "$2b$12$IyNKalf9vSZLInC7u/RMPuFYSS99IcuBgYaj37eKZO7qyz3vH7KAa",
      "descripcion_user": "",
      "imagen_user": "imagen_perfil.jpg",
      "telefono_user": "3657265342",
      "rol_user": "comprador",
      "estado_user": "activo"
    }
  ]
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "body": "No hay Usuarios registrados por el momento"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "body": "Error en el servidor" + error
}</code></pre>
</td>        
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Actualizar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite actualizar los datos de los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
<tr>
<td>PETICIÓN BODY</td>
<td>
<pre><code>{
  "cedula_user": "100000",
  "nombre_user": "Pepito",
  "email_user": "pepito@hotmail.com",
  "descripcion_user": "Hola, soy muy bueno.",
  "password_user": "123456789",
  "telefono_user": "3207383",
  "rol_user": "admin",
  "imagen_user": "imagen_perfil5"
}</code></pre>
</td>
</tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre>{
  "message": "Usuario actualizado con exito"
}</pre>
<strong>Incorrecto:</strong> Status: 400 (Cédula existente)
<pre>{
  "message": "Ya existe un usuario con esa cédula"
}</pre>
<strong>Incorrecto:</strong> Status: 400 (Correo existente)
<pre>{
  "message": "Ya existe un usuario con ese correo"
}</pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error con el ID al actualizar el usuario"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>    
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Buscar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite buscar a los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Usuario encontrado con exito",
  "data": [
    {
      "pk_cedula_user": 1,
      "nombre_user": "vendedor",
      "email_user": "vendedor@gmail.com",
      "password_user": "$2b$12$af5bnP76MuPb3IwdEsqcROiAuNt6HjOQjdhFwPtfAV0RcNAG5oJeO",
      "descripcion_user": "",
      "imagen_user": null,
      "telefono_user": "3167654352",
      "rol_user": "vendedor",
      "estado_user": "activo"
    }
  ]
  }</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error al encontrar el usuario con ese ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td></tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Eliminar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite eliminar los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
<tr>
<td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Usuario eliminado con éxito"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error con el ID al eliminar el usuario"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>    
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Desactivar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/usersdes/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite desactivar a los usuarios</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Usuario desactivado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se encontró ningún usuario con el ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Activar usuarios</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar usuarios</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/usersac/:id</td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td>Permite activar a los usuarios</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Usuario activado exitosamente"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se encontró ningún usuario con el ID"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Cambiar contraseña</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>9</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Cambiar contraseña</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/users-password/:id</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>Permite cambiar la contraseña de los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
<td>
<pre><code>{
  "oldPassword": "123456789",
  "newPassword": "newPassword123",
  "confirmPassword": "newPassword123"
}</code></pre>
</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Se registró la nueva contraseña con éxito"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Usuario no encontrado"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Contraseña incorrecta"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "La nueva contraseña no coincide con la de confirmar contraseña"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Error con el ID del usuario al cambiar la contraseña"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Recuperar contraseña</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Recuperar contraseña</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/recuperar</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>Permite recuperar y cambiar la contraseña de los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>
<pre><code>{
  "email_user": "pepito@example.com",
}</code></pre>
    </td>
  </tr>
  <tr>
    <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Hemos enviado una notificación a tu cuenta de Gmail. Por favor, revisa tu bandeja de entrada y sigue las instrucciones proporcionadas para restablecer tu contraseña."
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Correo del usuario no definido"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Usuario no encontrado"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se pudo enviar el Correo"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>Restablecer contraseña</h3>
    <table>
      <tr>
        <td>Número</td>
        <td>11</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Restablecer contraseña</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/cambiar</td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td>Permite restablecer la contraseña de los usuarios registrados en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios</td>
        <td>ADMINISTRADOR, VENDEDOR, COMPRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>
<pre><code>{
  "token": "$2b$12$sfx4cyI/O.lJ1cgGyAeEy.QbRDp2ox.TbMzJU487RtZv9njcOFBAy", 
  "password": "123456789"
}</code></pre>
    </td>
  </tr>
  <tr>
    <td>RESPUESTA JSON</td>
<td>
<strong>Correcto:</strong> Status: 200
<pre><code>{
  "message": "Contraseña actualizada"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "No se pudo actualizar la contraseña"
}</code></pre>
<strong>Incorrecto:</strong> Status: 404
<pre><code>{
  "message": "Usuario no encontrado"
}</code></pre>
<strong>Error:</strong> Status: 500
<pre><code>{
  "message": "Error en el servidor" + error
}</code></pre>
</td>
</tr>
      <tr>
        <td>Desarrollador</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

  </body>
</html>
