<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentación de Variedades</h2>
    <hr />
    <h3>Crear Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear Variedad</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedad</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite crear variedades en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          { 
            "fk_tipo_variedad": "1", 
            "descripcion_vari": "Un café amargo y rico", 
            "fk_finca": 9, 
            "img":"variedad.jpg"
          }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message:"Variedad creada con exito" }
          Incorrecto: Status:404 body:{ message:"Error al crear la variedad" }
          Error: Status:500 body:{ message:'Error en el servidor' + error
          }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar Variedades</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar Variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedad</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las variedades</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: {
            "message": "Variedades encontradas",
            "data": [
                {
                    "pk_id_vari": 7,
                    "descripcion_vari": "Borbon",
                    "imagen_vari": null,
                    "estado_vari": "activo",
                    "fk_tipo_variedad": 1,
                    "fk_finca": 10,
                    "nombre_finca": "Casa blanca Diamont",
                    "nombre_tipo_variedad": "Tipica"
                },] }  <br>
          Incorrecto: Status:404 body:{ message:" 'Error al buscar las variedades" } <br>
          Error: Status:500 body:{ message:'Error en el servidor'+ error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar Variedades</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedad/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite actualizar variedades en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            { 
                "fk_tipo_variedad": "1", 
                "descripcion_vari": "Un café amargo y rico", 
                "fk_finca": 9, 
                "img":"variedad.jpg"
            }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: 'Variedad actualizada con exito' } <br> 
          Incorrecto: Status:404 body:{ message: "Error al actualizar la variedad con ese ID" } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar Variedad a traves de su id</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedad/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite buscar variedades en la base de datos por medio de su ID
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: {
            "message": "Variedades encontradas",
            "data": [
                {
                    "pk_id_vari": 11,
                    "descripcion_vari": "Un café amargo y rico",
                    "imagen_vari": "variedad.jpg",
                    "estado_vari": "activo",
                    "fk_tipo_variedad": 1,
                    "fk_finca": 9,
                    "nombre_finca": "Casa blanca Diamonte",
                    "nombre_tipo_variedad": "Tipica"
                }
            ]
        } <br> 
        Incorrecto: Status:404 body:{ message: 'Error al buscar la variedad con ese ID' } <br> 
        Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar Variedad</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedad/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite eliminar variedades en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, USUARIO</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "Variedad eliminada con exito" } <br> 
          Incorrecto: Status:404 body:{ message: 'Error al eliminar la variedad con ese ID' } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
          </tr>
          <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
          </tr>
        </td>
      </tr>
    </table>

    <hr />
    <h3>Desactivar Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Desactivar Variedad</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedaddes/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite desactivar variedades en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "Variedad desactivada exitosamente" } <br> 
          Incorrecto: Status:404 body:{ message: 'No se encontró ninguna Variedad con el ID ${id}' } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
          </tr>
          <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
          </tr>
        </td>
      </tr>
    </table>

    <hr />
    <h3>Activar Variedad</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Activar Variedad</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/variedadac/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite activar variedades en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR, VENDEDOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "Variedad activada exitosamente" } <br> 
          Incorrecto: Status:404 body:{ message: 'No se encontró ninguna Variedad con el ID ${id}' } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
          </tr>
          <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
          </tr>
        </td>
      </tr>
    </table>
  </body>
</html>
