<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <hr />
    <h2>Requerimiento. Documentaci贸n de vereda</h2>
    <hr />
    <h3>Crear vereda</h3>
    <table>
      <tr>
        <td>Numero 1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Crear vereda</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredas</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite registrar veredas en la base de datos</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            {
                "nombre_vere": "Prueba",
                "fk_municipio": 41357
            }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "vereda creado exitosamente" } <br>
          Incorrecto: Status:404 body:{ message:"Error al crear el vereda" } <br>
          Error: Status:500 body:{ message:"Error en el servidor :" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Listar veredas</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Listar veredas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredas</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite listar todas las veredas registradas</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: {
            message: "Veredas encontradas exitosamente",
            "data": [
                {
                    "pk_id_vere": 1,
                    "nombre_vere": "El Carmen",
                    "estado_vere": "activo",
                    "fk_municipio": 41357,
                    "nombre_muni": "Isnos"
                },
                {
                    "pk_id_vere": 2,
                    "nombre_vere": "Remolinos",
                    "estado_vere": "activo",
                    "fk_municipio": 41357,
                    "nombre_muni": "Isnos"
                },] } <br> 
          Incorrecto: Status:404 body:{ message:" 'No se encontraron veredas" } <br> 
          Error: Status:500 body:{ message:"Error en el servidor: " + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Actualizar vereda</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Actualizar vereda</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredas/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>
          Permite actualizar veredas en la base de datos por medio de su id
        </td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
            {
                "nombre_vere": "prueba vereda",
                "fk_municipio": 41357
            }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: 'Vereda actualizado exitosamente' } <br>
          Incorrecto: Status:404 body:{ message: 'No se pudo actualizar el vereda con el IDs' } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Buscar veredas</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Buscar veredas registradas</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredas/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite buscar veredas en la base de datos por medio de su ID</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: {
            message: "Vereda encontrada",
            data: [
                {
                    "pk_id_vere": 2,
                    "nombre_vere": "Remolinos",
                    "estado_vere": "activo",
                    "fk_municipio": 41357,
                    "nombre_muni": "Isnos"
                }
            ]
        } <br>
          Incorrecto: Status:404 body:{ message: 'id de vereda no encontrado' } <br>
          Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>Desarrollador:</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama:</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <hr />
    <h3>Eliminar vereda</h3>
    <table>
      <tr>
        <td>Numero</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>Eliminar vereda</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredas/:id</td>
      </tr>
      <tr>
        <td>Descripcion:</td>
        <td>Permite eliminar vereda en la base de datos por medio de su id</td>
      </tr>
      <tr>
        <td>Verbo HTTP:</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER:</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>Usuarios:</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: Status:200 json: { message: "vereda eliminado con exito" } <br>
          Incorrecto: Status:404 body:{ message: 'No se encontr贸 ninguna vereda con el ID ${id}' } <br> 
          Error: Status:500 body:{ message: "Error en el servidor" + error }
          <tr>
            <td>Desarrollador:</td>
            <td>Juan Camilo Realpe Ceron</td>
          </tr>
          <tr>
            <td>Rama:</td>
            <td>DEVjcrc</td>
          </tr>
        </td>
      </tr>
    </table>

    <h3>DESACTIVAR vereda</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>DESACTIVAR vereda</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredasdes/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCION</td>
        <td>Permite desactivar vereda</td>
      </tr>
      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto: Status:200 json: { message: "vereda desactivada exitosamente" } <br>
            Incorrecto: Status:404 body:{ message: 'No se encontr贸 ninguna vereda con el ID ${id}' } <br> 
            Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>DESARROLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>

    <h3>ACTIVAR vereda</h3>
    <table>
      <tr>
        <td>NUMERO</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Nombre del Servicio</td>
        <td>ACTIVAR vereda</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/v1/veredaac/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCION</td>
        <td>Permite activar vereda</td>
      </tr>
      <tr>
        <td>VERBO</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token: token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>ADMINISTRADOR</td>
      </tr>
      <tr>
        <td>PETICION</td>
        <td>NULL</td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
            Correcto: Status:200 json: { message: "vereda activada exitosamente" } <br>
            Incorrecto: Status:404 body:{ message: 'No se encontr贸 ninguna vereda con el ID ${id}' } <br> 
            Error: Status:500 body:{ message: "Error en el servidor" + error }
        </td>
      </tr>
      <tr>
        <td>DESARROLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Rama</td>
        <td>DEVjcrc</td>
      </tr>
    </table>
  </body>
</html>
