<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentacion de API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <center><h1>Documentacion de la Api</h1></center>
    <hr>
    <center><h2>1. REQ Documentacion del registro de usuario</h2></center>

    <h3>Listar usuario</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>LISTAR USUARIOS</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>localhost/usuario/listar</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite listar a los usuarios que se encuentran registrados en la base de datos</td>
        </tr>

        <tr>
            <td>VERBO HTTP</td>
            <td>GET</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION BODY</td>
            <td>NULL</td>
        </tr>
    </table>

    <hr>

    <h3>Registrar usuario</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>REGISTRA USUARIOS</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/usuario/registrar</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite registrar a los usuarios</td>
        </tr>

        <tr>
            <td>VERBO HTTP</td>
            <td>POST</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION BODY</td>
            <td>"pk_cedula_user": 378292</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                CORRECTO:
                STATUS:200
                MESSAGE: "Felicidades, el registro fue un exito"
                JSON
                {
                    "pk_cedula_user": 378292,
                    "nombre_user":"Jhon Diaz",
                    "email_user": "jho@gmail.com",
                    "password_user": "jh@gmail.com",
                    "rol_user":"comprador",
                    "descripcion_user": "Timana, cafe pergamino, cafe borbon",
                    "telefono_user": "8494992",
                    "fecha_nacimiento_user": "26-12-2000"	
                }
                INCORRECTO
                STATUS: 404
                BODY :{
                    STATUS: 404
                    MESSAGE: "Error, El registro fue denegado"
                }
                ERROR:
                STATUS: 500
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "ERROR EN EL SERVIDOR"
                }
            </td>
        </tr>
    </table>

    <hr>
    <h3>Actualizar usuario</h3>
    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>ACTUALIZAR USUARIOS</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/usuario/actualizar/pk_cedula_user</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite actualizar los datos de los usuarios, 
                cada usuario podra actualizar datos como son: "nombre", "email", "telefono", "password" </td>
        </tr>

        <tr>
            <td>VERBO HTTP</td>
            <td>PUT</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION BODY</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>RESPUESTA JSON</td>
            <td>
                CORRECTO:
                STATUS:200
                MESSAGE: "Felicidades, La actualizacion del usuario fue un exito"
                JSON
                {
                    "nombre_user":"Jhon Diaz",
                    "email_user": "jho@gmail.com",
                    "password_user": "jh@gmail.com",
                    "telefono_user": "8494992",	
                }
                INCORRECTO
                STATUS: 404
                BODY :{
                    STATUS: 404
                    MESSAGE: "Error, La actualizacion fue denegada"
                }
                ERROR:
                STATUS: 500
                BODY : JSON{
                    STATUS:500,
                    MESSAGE: "ERROR EN EL SERVIDOR"
                }
            </td>
        </tr>
    </table>

    <hr>
    <h3>Buscar usuario</h3>

    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>BUSCAR USUARIOS</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/usuario/buscar/pk_cedula_user</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite buscar a los usuarios</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>GET</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>
    </table>

    <hr>

    <h3>Eliminar usuario</h3>

    <table>
        <tr>
            <td>NUMERO</td>
            <td>1</td>
        </tr>

        <tr>
            <td>NOMBRE DEL ENDPOINT</td>
            <td>BUSCAR USUARIOS</td>
        </tr>

        <tr>
            <td>URI</td>
            <td>/usuario/eliminar/pk_cedula_user</td>
        </tr>

        <tr>
            <td>DESCRIPCION</td>
            <td>Permite eliminar a usuarios</td>
        </tr>

        <tr>
            <td>VERBO</td>
            <td>DELETE</td>
        </tr>

        <tr>
            <td>HEADER</td>
            <td>NULL</td>
        </tr>

        <tr>
            <td>USUARIOS</td>
            <td>ADMINISTRADOR</td>
        </tr>

        <tr>
            <td>PETICION</td>
            <td>NULL</td>
        </tr>
    </table>

</body>
</html>